<%- include ../partials/header.ejs %>
<%- include ../partials/top_nav.ejs %>

<!--Content for the add page-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <h1><%=title%></h1>           
            <form class="form" method="POST">

                <div class="form-group">
                    <label for="songTextField">Song</label>
                    <input type="text" class="form-control"
                    id="songTextField"
                    placeholder="Enter the Song Name"
                    name="song" required>
                 </div>

            <div class="form-group">
                    <label for="artistTextField">Artist</label>
                    <input type="text" class="form-control"
                    id="artistTextField"
                    placeholder="Enter the Artist Name"
                    name="artist" required>
            </div>

            <div class="form-group">
                <label for="yearTextField">Year</label>
                <input type="number" class="form-control"
                id="yearTextField"
                placeholder="Enter the Year of Release"
                name="Year" required>
             </div>

             <div class="form-group">
                <label for="genreTextField">Genre</label>
                <input type="text" class="form-control"
                id="genreTextField"
                placeholder="Enter the Song Genre"
                name="genre" required>
            </div>

            <div class="form-group">
                <label for="ratingTextField">Rating</label>
                <input type="number" class="form-control"
                id="ratingTextField"
                placeholder="Enter your Song Rating"
                name="rating" required>
            </div>

            <button class="btn-btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit
            </button>

            <a href="/musiclist" class="btn btn-warning">
                <i class="fas fa-undo"></i>Cancel</a>

        </div>
    </div>
</div>
<%- include ../partials/bot_nav.ejs %>