<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
        
        

<div class="jumbotron">
  <h1 class="display-4"><p>Welcome to Chris' <%= title %> page!</p></h1>
 
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<h4>Welcome to my super cool website, I hope you enjoy your visit!</h4>


<%- include partials/bot_nav.ejs %>

  

  
    <!--these are the script files-->
    <script src = "config/app.js"></script>
    <script src = "config/db.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>

