<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
        
<!--title at top-->
<div class="jumbotron">
  <h1 class="display-4"><p>Welcome to Chris' <%= title %> page!</p></h1>
</div>

<!-- intro section of home page-->
<h4>Welcome to my super cool website, I hope you enjoy your visit!</h4>
<h4>This is Me! <img src="assets/Chris_N.jpg" alt="Chris N Avatar"></h4>
<h4>And this is my favourite band Waterparks!<img src="assets/Waterparks.jpg" alt="Waterparks band"></h4>

<!--bottom nav bar-->
<%- include partials/bot_nav.ejs %>

    <!--these are the script files-->
    <script src = "config/app.js"></script>
    <script src = "config/db.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>

