@charset "UTF-8";

body {

    background-color:  #febbbb;
    font-family: Cambria, Perpetua, Garamond;
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 960px;
    height: 1800px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightcoral;
}
